terraform {
  backend "s3" {
    bucket       = "neal-street-terraform-state-22072026"
    key          = "rewards/dev/terraform.tfstate"
    region       = "af-south-1"
    use_lockfile = true
    encrypt      = true
  }
}
